@media (max-width: 940px) {
  .home-div {
    padding: 3rem;
  }
  .brands {
    margin: 2rem 0;
  }
  .brand-images {
    height: 5rem;
    margin: 1rem 2rem;
  }
  .about {
    gap: 5rem;
  }

  .about-div {
    padding: 1rem 5rem 2rem 2rem;
    width: 100rem;
  }
}

@media (max-width: 680px) {
  .hero {
    height: 90rem;
    text-align: center;
    flex-wrap: wrap;
  }
  .hero-image {
    width: 57rem;
  }

  .home-div {
    margin: 0 auto;
    padding: 3rem;
    width: 50rem;
  }
  .brands {
    margin: 3rem 0;
  }
  .brand-image {
    height: 4.5rem;
  }
  .about {
    flex-wrap: wrap;
    height: 100rem;
    margin-bottom: 5rem;
  }
  .about-div {
    padding: 1rem 10rem 2rem 5rem;
    width: 70rem;
  }
  .about-heading {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2rem;
  }
  .about-para {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .about-list-heading {
    font-size: 2.2rem;
  }
  .about-list-para {
    font-size: 1.8rem;
  }
  .about-flex {
    margin: 0 auto;
  }
  .card {
    margin: 16rem 0;
    margin-bottom: 80rem;
  }
  .card-div {
    flex-wrap: wrap;
  }
  .card-container {
    height: 32rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(208, 207, 207, 0.552);
  }
  .card-heading {
    font-size: 2.4rem;
    color: #183044;
    text-transform: capitalize;
    padding-bottom: 1.6rem;
    text-align: center;
  }
  .card-para {
    width: 50vw;
    font-size: 1.6rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
  }
  .card-div {
    gap: 4rem;
  }
  .card-image {
    width: 60vw;
  }
  .furniture {
    margin: 10rem 0;
  }
  .furniture-image {
    height: 40rem;
  }
  .furniture-para {
    font-size: 1.6rem;
    padding-top: 3rem;
  }
  .furniture-span {
    padding: 0 2rem;
  }

  .customer-image {
    height: 20rem;
    margin-bottom: 2rem;
  }
  .customer-section {
    margin-top: 55rem;
  }
  .customer-heading {
    font-size: 2rem;
  }
  .customer-para {
    font-size: 1.4rem;
  }
  .customer-face-flex {
    margin-left: 10rem;
    padding-top: 1rem;
  }
  .customer-face {
    height: 3rem;
    border-radius: 50%;
  }
}

@media (max-width: 480px) {
  .hero-image {
    width: 85vw;
  }
  .brands {
    margin: 3rem 0;
    width: 85vw;
  }
  .brand-image {
    height: 5rem;
  }
  .brand-heading {
    font-size: 2rem;
  }

  .about-div {
    padding: 0rem 6rem 2rem 4rem;
    width: 100vw;
  }
  .about-heading {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2rem;
  }
  .about-para {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .about-list-heading {
    font-size: 2.2rem;
  }
  .about-list-para {
    font-size: 1.8rem;
  }
  .about-image {
    width: 85vw;
  }
  .card {
    margin-top: 18rem;
  }
  .card-heading {
    text-align: center;
  }
  .card-para {
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
  }
  .card-image {
    width: 60vw;
  }
  .card-div {
    gap: 4rem;
  }
  .card-name {
    font-size: 1.8rem;
    padding-left: -3rem;
  }
  .furniture {
    margin: 20rem 0;
  }
  .furniture-image {
    height: 30rem;
  }
  .furniture-para {
    font-size: 1.4rem;
    padding-top: 3rem;
  }
  .furniture-span {
    padding: 0 1rem;
  }
  .furniture-grid {
    margin-top: 4rem;
  }
  .customer-section {
    margin-top: 40rem;
  }
  .customer-heading {
    font-size: 2rem;
  }
  .customer-image {
    height: 20rem;
    margin-bottom: 3rem;
  }
  .customer-para {
    font-size: 1.2rem;
  }
  .customer-face-flex {
    margin-left: 10rem;
    padding-top: 1rem;
  }
  .customer-face {
    height: 3rem;
    border-radius: 50%;
  }
  .subscibe {
    height: 35rem;
    margin-top: 5rem;
  }
  .subscribe-div {
    height: 25rem;

    margin: 3rem auto;
    width: 40rem;
  }
  .subscibe-heading {
    font-size: 2.2rem;
    padding-bottom: 1.6rem;
  }

  .subscriber-div {
    width: 30rem;
    margin: 0 auto;
    padding-top: 3rem;
  }
  .subscibe-input {
    padding: 1rem;
    margin-left: 5rem;
    border: none;
    color: #fff;
    background-color: #183044;
    border-radius: 0.9rem;
    text-transform: capitalize;
  }
}
