@media (max-width: 940px) {
  .home-div {
    padding: 3rem;
  }
}
.brands{
    margin: 5rem 0;
}
.brand-image {
    height: 5rem;
}
@media (max-width: 680px) {
  .hero {
    height: 90rem;
    text-align: center;
    flex-wrap: wrap;
  }
  .hero-image {
    width: 50rem;
  }

  .home-div {
    margin: 0 auto;
    padding: 3rem;
    width: 50rem;
  }
  .brands{
    margin: 3rem 0;
}
.brand-image {
    height: 4.5rem;
}
}



@media(max-width:480px){
    .hero-image {
        width: 100vw;
      }
    .brands{
        margin: 3rem 0;
    }
    .brand-image {
        height: 5rem;
    }
    .brand-heading{
font-size: 2rem;
    }
}
