* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 3.5rem;
  font-family: sans-serif;
}
.navbar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: #183044;
}
.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  color: #111;
  font-size: 1.8rem;
  font-weight: 400;
}
.nav-link:hover {
  color: #183044;
}
.nav-icon {
  font-size: 2rem;
}
.hero {
  background-color: #183044;
  height: 45rem;
  display: flex;
  margin-top: 4rem;
}
.hero-image {
  height: 45rem;
}
.home-div {
  margin: 0 auto;
  padding: 6rem;
  width: 70rem;
  padding-top: 8rem;
}
.home-heading {
  padding-top: 1rem;
  color: #fff;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.home-para {
  color: #fff;
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 2rem 0;
}
.home-link {
  color: #183044;
  background-color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-top: 1rem;
  display: inline-block;
}
.home-link:hover {
  text-decoration: underline;
}
.brands {
  margin: 10rem 0;
}

.brand-heading {
  color: #183044;
  font-size: 2.2rem;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0;
}

.brand-image {
  height: 6rem;
}

.brand-images {
  display: flex;
  justify-content: space-around;
}
.about {
  margin-top: 10rem;
  height: 50rem;
  display: flex;
  gap: 10rem;
}
.about-flex {
  display: flex;
  gap: 2rem;
}
.shipping {
  height: 5rem;
  color: #183044;
  display: inline-block;
  padding-top: 1rem;
}
.free {
  height: 4rem;
}

.about-icon {
  font-size: 6rem;
  color: #183044;
  padding-top: 1rem;
}

.about-image {
  box-shadow: 2rem 2rem rgba(171, 170, 170, 0.552);
  height: 50rem;
}
.about-div {
  padding: 5rem 10rem 10rem 5rem;
  width: 50rem;
}
.about-heading {
  font-size: 2.6rem;
  color: #183044;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.about-para {
  font-size: 1.7rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.about-list {
  list-style: none;
  padding: 2rem 0;
}
.about-list-heading {
  font-size: 2rem;
  text-transform: capitalize;
  color: #183044;
}
.about-list-para {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #183044;
}
